{{define "greet"}}<p>Welcome, <b>{{.Info.Name}}</b>!</p>
<p>Specify the files to be uploaded, or <a href="login{{$.Query}}">click here</a>, if you would like to enter another name.</p>{{end}}
{{define "msgCookies"}}This website uses cookies.
By continuing to use our website, you are agreeing to our use of cookies.{{end}}
{{define "msgDropFilesOrClick"}}<span class="big">Drop files</span> to upload<br/><span class="or">(or click)</span>{{end}}
{{define "msgConnClose"}}Connection closed.{{end}}
{{define "msgNamePlaceholder"}}Name{{end}}
{{define "msgSubmitButton"}}Send{{end}}
{{define "msgBrowserCompleted"}}Your browser finished the upload. You may close this window now.{{end}}
