{{define "home"}}<!DOCTYPE html>
<html>
	<head>
		<title>Web-FTP uploader</title>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700" rel="stylesheet" type="text/css">
		{{if .Info}}
		<script src="./ext/js/dropzone.min.js"></script>
		<link rel="stylesheet" href="./ext/css/dropzone.css"/>
		{{end}}
		<link rel="stylesheet" href="./ext/css/upload.css"/>
	</head>
	<body>
		<h1>Web-FTP feltöltőcucc</h1>
		{{with .Info}}
		<p>Üdvözlet, <b>{{.Name}}</b>!</p>
		<p>Add meg a feltöltendő fájlokat, vagy <a href="login">klikk ide</a>, ha másik nevet adnál meg.</p>
		<div id="dropzone">
			<form id="upload" action="upload" class="dropzone">
				<input name="do" type="hidden" value="upload">
			</form>
		</div>
		<div id="info">{{template "info" .}}</div>
		<script type="text/javascript">
			(function() {
				var data = document.getElementById("info");
				var conn = new WebSocket("ws://{{$.Host}}{{$.Prefix}}ws?user={{tolower .Name}}");
				conn.onclose = function(evt) {
					data.innerHTML = '<p><i class="fa fa-exclamation-triangle"></i> A kapcsolat megszakadt.</p>';
				}
				conn.onmessage = function(evt) {
					console.log('file updated');
					data.innerHTML = evt.data;
				}
			})();
        </script>
		{{else}}
			<form method="post" class="name" action="home">
				<i class="fa fa-user"></i> <input name="name" type="text" placeholder="név"/>
				<input type="submit" value="küld"/>
			</form>
			<div class="infobox"><i class="fa fa-info-circle"></i> Ez az oldal sütiket használ. Az oldal további használatával Ön hozzájárul ezek használatához.</div>
		{{end}}
	</body>
</html>{{end}}
