{{define "home"}}<!DOCTYPE html>
<html>
	<head>
		<title>{{.Title}}</title>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,700italic" rel="stylesheet" type="text/css">
		{{if .Info}}
		<script src="./ext/js/dropzone.min.js"></script>
		<script src="./ext/js/upload.js"></script>
		<link rel="stylesheet" href="./ext/css/basic.css"/>
		{{end}}
		<link rel="stylesheet" href="./ext/css/upload.css"/>
	</head>
	<body>
		<ul class="langsel">
			<li><a href="?lang=en">en</a></li>
			<li><a href="?lang=de">de</a></li>
			<li><a href="?lang=hu">hu</a></li>
		</ul>
		<h1>{{.Title}}</h1>
		{{if .Info}}{{template "greet" .}}{{end}}
		{{with .Info}}
		<div id="dropzone">
			<form id="upload" action="upload" class="dropzone">
				<div class="dz-message"><i class="fa fa-arrow-circle-o-right drop-icon"></i> {{template "msgDropFilesOrClick"}}</div>
				<input name="do" type="hidden" value="upload">
			</form>
		</div>
		<div id="status"></div>
		<div id="info">{{template "info" .}}</div>
		<script type="text/javascript">
			(function() {
				websocket({
					url: "ws://{{$.Host}}{{$.Prefix}}ws{{$.Query}}",
					elementStatus: document.getElementById("status"),
					elementInfo: document.getElementById("info"),
					msgClose: '<p><i class="fa fa-exclamation-triangle"></i> {{template "msgConnClose"}}</p>'
				});
			})();
        </script>
		{{else}}
			<form method="post" class="login" action="home{{.Query}}">
				<i class="fa fa-user"></i> <input name="name" type="text" placeholder="{{template "msgNamePlaceholder"}}"/>
				<input type="submit" value="{{template "msgSubmitButton"}}"/>
			</form>
			<div class="infobox"><i class="fa fa-info-circle"></i> {{template "msgCookies"}}</div>
		{{end}}
		<footer>
			<a href="http://github.com/tajtiattila/web-ftp-upload">Uploader</a> by Attila Tajti<br/>
			using <a href="http://dropzonejs.com">Dropzonejs</a>
			and <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>
		</footer>
	</body>
</html>{{end}}
