{{define "greet"}}<p>Üdvözlet, <b>{{.Name}}</b>!</p>
<p>Adja meg a feltöltendő fájlokat, vagy <a href="login">klikk ide</a>, ha másik nevet adna meg.</p>{{end}}
{{define "msgCookies"}}Ez az oldal sütiket használ.
Az oldal további használatával Ön hozzájárul ezek használatához.{{end}}
{{define "msgDropFilesOrClick"}}<span class="big">Dobjon ide fájlokat</span> a feltöltéshez<br/><span class="or">(vagy klikk)</span>{{end}}
{{define "msgConnClose"}}A kapcsolat megszakadt.{{end}}
{{define "msgNamePlaceholder"}}Név{{end}}
{{define "msgSubmitButton"}}Küld{{end}}
