{{define "greet"}}<p>Üdvözlet, <b>{{.Info.Name}}</b>!</p>
<p>Adja meg a feltöltendő fájlokat, vagy <a href="login{{.Query}}">klikk ide</a>, ha másik nevet adna meg.</p>{{end}}
{{define "msgCookies"}}Ez az oldal sütiket használ.
Az oldal további használatával Ön hozzájárul ezek használatához.{{end}}
{{define "msgDropFilesOrClick"}}<span class="big">Dobjon ide fájlokat</span> a feltöltéshez<br/><span class="or">(vagy klikk)</span>{{end}}
{{define "msgWebsocketActive"}}Az automatikus frissítés aktív.{{end}}
{{define "msgNamePlaceholder"}}Név{{end}}
{{define "msgSubmitButton"}}Küld{{end}}
{{define "msgBrowserCompleted"}}A böngészője befejezte a feltöltést, bezárhatja ezt az ablakot.{{end}}
