body {
	font-family: 'Open Sans', sans-serif;
}
ul.filelist {
	column-width: 15em;
	-moz-column-width: 15em;
	-webkit-column-width: 15em;
}
ul.filelist > li {
	padding-left: 1.5em; /*same as margin-left and width in :before */
	list-style: none;
}
ul.filelist > li:before {
	display: inline-block;
	margin-left: -1.5em;
	width: 1.5em; /*same as padding-left set on li*/
	text-align: center;
}
ul.filelist > li.done:before {
	content: '\00f00c'; /* fa-check */
	font-family: FontAwesome;
}
ul.filelist > li.working:before {
	content: '\00f110'; /* fa-spin */
	font-family: FontAwesome;
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}
h1 {
	text-align: center;
}
form.login {
	margin: 0 auto;
	width: 20em;
}
div.info {
	display: block;
}
.xconn {
	color: #ccc;
}
div.infobox {
	border: 1px solid #aaa;
	border-radius: 1em;
	background-color: #eee;
	color: #666;
	margin: 30px auto;
	padding: 1em;
	width: 80%;
	font-style: italic;
	font-size: 80%;
}
.fa-info-circle {
	color: blue;
}
.fa-exclamation-triangle {
	color: red;
}
.dropzone {
	min-height: 360px;
}
.dz-message {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-style: italic;
	font-size: 2em;
	margin-top: 3em;
	margin-bottom: 3em;
}
.dz-message .big {
	font-size: 120%;
	font-weight: bold;
}
.dz-message .or {
	font-size: 50%;
}
.drop-icon {
	/* hack for the icon to align with text better */
	display: inline-block;
	vertical-align: top;
	font-size: 180%;
}
ul.langsel {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 0.5em;
	text-align: right;
}
ul.langsel li {
	display: inline;
	margin: 0.1em;
	list-style: none;
}

