{{define "greet"}}<p>Wilkommen, <b>{{.Info.Name}}</b>!</p>
<p>Bitte Dateien zu hochladem eingeben, oder <a href="login{{.Query}}">hier klicken</a>, wenn Sie einen andaren Name eingeben möchten.</p>{{end}}
{{define "msgCookies"}}Diese Webseit verwendet Cookies.
Durch die weitere Nutzung unserer Website stimmen Sie der Verwendung von Cookies.{{end}}
{{define "msgDropFilesOrClick"}}<span class="big">Dateien hier ziehen</span> zu hochladen<br/><span class="or">(oder klicken)</span>{{end}}
{{define "msgConnClose"}}Verbindung geschlossen.{{end}}
{{define "msgNamePlaceholder"}}Name{{end}}
{{define "msgSubmitButton"}}Einrechnen{{end}}
